<!DOCTYPE html>
<html>

<title>Allocan</title>

<% if logged_in? && current_user.activated %>
	
	<h1>Welcome</h1>

<% elsif logged_in? %>

	<h1 class="myHeader">
		Congratulations! Welcome to your Allocan account!
	</h1>
	<h3>
		Your account is not activated
	</h3>
	<p>
		You will not be able to use Allocan's features until you activate your account. If you have just
	</p>
	<h3>
		To activate your account
	</h3>
	<p>
		To activate your account, go to your email at <%= current_user.email %>. You should have received an account confirmation email.
	</p>
	
	<% if current_user.created_at < 2.days.ago %>
		<h3 class="myHeader">
			Can't find
		</h3>
	<% else %>

	<% end %>

<% elsif  %>

<div id="landingWrapper">
	<div>
		<table>
			<tr>
				<td>
					<i>I want to invest in stocks</i><br/>
				</td>
			</tr>
			<tr>
				<td>
					but...
				</td>
			</tr>
		</table>

	</div>

	<div>

				<span>
					but...
				</span>
				<table>
					<tr>
						<td>
							I don't know how to go about it...
						</td>
					</tr>
					<tr>
						<td>
							I don't have much money...
						</td>
					</tr>
					<tr>
						<td>
							I don't know which stocks to pick...
						</td>
					</tr>
					<tr>
						<td>
							The transaction fees are prohibitive...
						</td>
					</tr>
					<tr>
						<td>
							I don't know how to optimise or analyse my portfolio...
						</td>
					</tr>
					<tr>
						<td>
							I don't know how risky I'm being...
						</td>
					</tr>
					<tr>
						<td>
							I don't have the time to learn it all...
						</td>
					</tr>
					<tr>
						<td>
							I want flexibility in how I manage it...
						</td>
					</tr>
					<tr>
						<td>
							I don't trust giving brokers access to my bank account...
						</td>
					</tr>
					<tr>
						<td>
							I don't want to be ripped off by some broker...
						</td>
					</tr>
					<tr>
						<td>
							etc...
						</td>
					</tr>
				</table>

	</div>
	<div>
		<span>
			With Allocan, <i>now you can</i>.
		</span>
		<h3>
			Allocan is a new platform, innovatively designed to make it easy for the average Australian to invest in stocks, while retaining control.
		</h3>
	</div>
</div>

<% end %>

</html>
