<h1 class="myHeader">
	User Agreement
</h1>
<p>
	The User Agreement sets out the guidelines of being an Allocan user. It details the user's rights and responsibilities, as well as the responsibilities of Allocan to its users.
</p>
<p>
	The User Agreement is updated periodically. We will always message you and provide notice if we change any part of the User Agreement.
</p>
<h3 class="myHeader">
	Recent changes
</h3>
<ul>
	<li>
		<b>1 Feb 2018: </b>Allocan has the right to administer a general trading suspension in the event of a fall in market prices of 20% or more from the close of the previous day, or Friday if it occurs on a Monday.
	</li>
	<li>
		<b>1 Feb 2018: </b>Allocan has the right to suspend customer external withdrawals of cash in the case of an arrest warrant for such customer from Australia, the United States, Great Britain, New Zealand, Germany, France, or Canada.
	</li>
</ul>
<h3 class="myHeader">
	Current User Agreement
</h3>
<p>
	Last updated: 1 Feb 2018
</p>
<%= link_to "User Agreement (pdf)", "/public_user_files/user_agreement_current.pdf" %>